@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<RecipeBox.Models.Recipe>

  <h1>Recipes for @User.Identity.Name</h1>
  <div class="main">
    @if (Model.Any()) 
    {
      <div class="main">
        <ul>
          @foreach (Recipe recipe in Model)
          {
            <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId })</li>
          }
        </ul>
      </div>
    }
    else 
    {  
      <h3>No recipes have been added as of yet</h3>  
       @Html.ActionLink("Add new recipe", "Create", "Recipes")
    }
  </div>

  