@{
  Layout = "_Layout";
}

<h1>Welcome to RecipeBox - a website to hold your recipes!</h1>
<p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
<p>@Html.ActionLink("See all Recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("See all Tags", "Index", "Tags")</p>