@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Add a new tag</h2>
<div class="main">
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add a new tag" class="btn btn-submit">
  }
</div>